body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p{
    color: #8f8f8f;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.35rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 2.5rem;
}

.nav-item{
    padding: 0 20px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: light; 
    
}

.download-button{
    margin: 5% 3% 5% 0;
}
#heading{
    /* margin-bottom: 70px; */
     padding-top: 60px; 
}
.catimg{
    transform: rotate(25deg);
    width: 24%;
    margin-left: 2.5% ;
    position: absolute;
}

.icon{
    margin-bottom: 1rem;
    color: #ef8172
}
.icon:hover{
    color: #ff4c68;

}

#features{
    background-color: white;
    position: relative;
    padding: 7% 15%;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-img{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px; 
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    
}

.pricing-card{
    padding: 3% 2%;
}

.pricing-btn-cheap:hover{
    background-color:#000000;
    border-color: #ffffff;
}
.pricing-btn-exp:hover{
    background-color:#ffffff;
    border-color: #000000;
    color: #000000;
}
.card-header{
    background-color: #FF9F9F;
}

.card{
    height: 100%;
}

@media (max-width: 992px){
    .catimg{
        position: static;
        transform: rotate(0);
        width: 50%;
        
    }
    #title{
        text-align: center;
    }
}

#cta{
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
    color: #ffffff;
}

#footer{
    padding: 1% 15%;
    text-align: center;
}

.cta-h3{
    font-size: 3.5rem;
}

.footer-icon{
    padding: 10px;
    color: #000000;
}
.footer-icon:hover{
    color: #8f8f8f;
}